@import 'shared/fonts.css';
@import 'shared/variables.css';
@import 'shared/header.css';
@import 'shared/buttons.css';

:root {
    font-family: 'Gotham Rounded';
    font-size: 20px;
    color: var(--color-text-light);
}

*, *::before, *::after {
    /* Makes sizing widths and heights much easier if there are padding or margins  */
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, 
    var(--color-background-dark),
    var(--color-background-light));
}

.container {
    max-width: 1200px;
    /* Margin Auto Adds Equal Margins on Left and Right */
    margin: auto;
    margin-bottom: 3rem;
}

.inner-container {
    /* 1st:Top and Bottom, 2nd:Left and Right */
    margin: 0 2rem;
}

.page-header {
    font-size: 2rem;
    font-weight: 500;
}